{% extends "index.html" %}

{% block mainContent %}
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>Miembros del Equipo</h1>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>LinkedIn de los Miembros</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 p-3 d-flex justify-content-center" style="background-color: rgba(255, 255, 255, 0.3);">
                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/OctavioAlvarez1', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/hansonvel96', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/Dictako', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/AugustoDor', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/LukitaPeola', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1>GitHub de los Miembros</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-8 col-lg-6 p-3 d-flex justify-content-center" style="background-color: rgba(255, 255, 255, 0.3);">
                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/OctavioAlvarez1', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/hansonvel96', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/Dictako', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/AugustoDor', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>

                <button type="button" class="btn btn-primary me-2" onclick="window.open('https://github.com/LukitaPeola', '_blank');">
                    <img src="https://github.com/hansonvel96/PF_GROUP_03_NYC_TAXIS/blob/Alan-Gonz%C3%A1lez/aplicaciones/templates/images/alan.jpg?raw=true"
                    alt="Imagen" class="img-fluid">
                </button>
            </div>
        </div>
    </div>
{% endblock %}
